@mixin flexCenterRwo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
@mixin sans{
    font-family: sans-serif;
}
@mixin flexColumnCenter(){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
@mixin hoverButton{
    cursor: pointer;
    user-select: none;
}