body {
  overflow-X: hidden;
}

* {
  border: 0;
  margin: 0;
}

.header {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-image: url(../media/header/header.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.header .nav {
  z-index: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  background-color: rgba(10, 0, 0, 0.372);
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  left: 0;
}
.header .nav .left {
  position: sticky;
  top: 0;
  left: 120px;
  color: white;
}
.header .nav .left .goo {
  font-size: 24px;
}
.header .nav .center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header .nav .center P:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header .nav .center .apout {
  margin-left: 45px;
}
.header .nav .center .package {
  margin-left: 45px;
}
.header .nav .right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  right: 120px;
  width: 112px;
  height: 48px;
}
.header .nav .right .favorite {
  width: 36px;
  height: 36px;
}
.header .nav .right .profile {
  width: 48px;
  height: 48px;
}
.header .bottom {
  text-align: center;
}
.header .bottom h1 {
  max-width: 700px;
  color: #fff;
  font-size: 75px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 40px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.header .bottom p {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 500px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .bottom button {
  border-radius: 10px;
  background: #00A651;
  width: 214px;
  height: 60px;
  margin-top: 38px;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.2);
}

.section2 {
  height: 180px;
  color: #000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-weight: 700;
  line-height: 180px;
  box-shadow: 0px -30px 52px 30px rgba(253, 250, 250, 0.845);
}

.section3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 80px 130px;
}
.section3 .card {
  min-width: 230px;
  max-width: 230px;
  height: 155px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px 40px 0px 40px;
}
.section3 .card:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: #F9F9F9;
}
.section3 .card img {
  margin: 10px 0 10px 0;
}
.section3 .card p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.section3 .ticket img {
  width: 46px;
  height: 27.259px;
}
.section3 .hotel img {
  width: 42px;
  height: 42px;
}
.section3 .plane img {
  width: 38px;
  height: 38px;
}

.section4 {
  height: 580px;
  background: rgba(0, 88, 83, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-items: center;
  padding: 30px 0;
}
.section4 h2 {
  width: 450px;
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
.section4 p {
  width: 450px;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  bottom: 50px;
}
.section4 .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
}
.section4 .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-items: center;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  border-radius: 15px;
  background: #FFF;
  margin: 10px;
  position: relative;
}
.section4 .cards .card:hover {
  background: #F9F9F9;
}
.section4 .cards .card img {
  position: relative;
  top: 10px;
}
.section4 .cards .card h3 {
  position: relative;
  top: 10px;
}
.section4 .cards .card p {
  position: relative;
  top: -5px;
}

.section5 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.section5 h2 {
  text-align: center;
  width: 100%;
  margin: 65px 0;
  font-size: 40px;
  font-weight: 700;
}
.section5 .bottom5 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.section5 .bottom5 .left img {
  width: 600px;
  height: 600px;
}
.section5 .bottom5 .right {
  width: 500px;
  height: 600px;
  position: relative;
  right: 130px;
}
.section5 .bottom5 .right .card5 {
  width: 500px;
  max-width: 500px;
  min-width: 500px;
  height: 170px;
  max-height: 170px;
  min-height: 170px;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.08);
}
.section5 .bottom5 .right .card5 .contry {
  border-radius: 15px 0px 0px 15px;
  width: 170px;
  height: 170px;
}
.section5 .bottom5 .right .card5 p {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.section5 .bottom5 .right .card5 .spots {
  width: 85px;
  position: relative;
  right: 25px;
}
.section5 .bottom5 .right .card5 .navigate {
  width: 25px;
  height: 25px;
  position: relative;
  right: 25px;
}
.section5 .bottom5 .right .card5 .navigate:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.section6 {
  background: #ECF1F0;
}
.section6 .title {
  color: #000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  padding: 50px 0 50px 0;
  box-sizing: border-box;
}
.section6 .Packages {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.section6 .Packages button {
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #666;
  margin: 0 25px 50px 25px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section6 .Packages button:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: #00A651;
}
.section6 .cards {
  width: 100%;
  padding: 80px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
}
.section6 .cards .card {
  margin: 10px;
  width: 400px;
  height: 470px;
  border-radius: 15px;
  background: #FFF;
}
.section6 .cards .card .contry {
  width: 100%;
  height: 300px;
}
.section6 .cards .card .bottom {
  width: 400px;
  max-width: 400px;
  height: 170px;
  border-radius: 0px 0px 15px 15px;
  background: #fff;
  position: relative;
}
.section6 .cards .card .bottom .number {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 10px;
}
.section6 .cards .card .bottom .detals {
  width: 270px;
  color: rgba(0, 0, 0, 0.81);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
}
.section6 .cards .card .bottom .location {
  width: 100%;
  position: absolute;
  bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.section6 .cards .card .bottom .location p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
.section6 .cards .card .bottom .location .img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.section6 .cards .card .bottom .location .img img {
  width: 18px;
  height: 18px;
}
.section6 .cards .card .bottom .location .img p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section6 .button {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  box-sizing: border-box;
}
.section6 .button button {
  width: 300px;
  height: 70px;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  border-radius: 10px;
  background: #00A651;
  flex-shrink: 0;
}
.section6 .button button:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #666;
}

.section7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 100px;
  box-sizing: border-box;
}
.section7 .top7 {
  width: 100%;
  padding: 40px 0 50px 0;
  box-sizing: border-box;
  line-height: normal;
  text-align: center;
}
.section7 .top7 h2 {
  color: #000;
  font-size: 38px;
}
.section7 .top7 p {
  color: #000;
  font-size: 22px;
}
.section7 .bottom7 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.section7 .bottom7 .left {
  width: 450px;
}
.section7 .bottom7 .left .card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 50px 0;
}
.section7 .bottom7 .left .card img {
  width: 60px;
  height: 60px;
  margin-right: 25px;
}
.section7 .bottom7 .left .card p {
  color: var(--TEXT-CLR, #5E6282);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.section7 .bottom7 .left .card span {
  width: 10px;
  color: var(--TEXT-CLR, #5E6282);
  font-size: 14px;
  font-weight: 300;
}
.section7 .bottom7 .right {
  position: relative;
  width: 340px;
  height: 370px;
  border-radius: 26px;
  background: var(--white, #FFF);
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.section7 .bottom7 .right .maine {
  background: var(--white, #FFF);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 340px;
  height: 370px;
}
.section7 .bottom7 .right .maine .greecimg {
  width: 300px;
  height: 160px;
  border-radius: 24px;
  margin: 20px 20px;
}
.section7 .bottom7 .right .maine .greec {
  color: var(--black, #080809);
  margin-left: 20px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.41px;
  letter-spacing: 0.27px;
}
.section7 .bottom7 .right .maine .span1 {
  margin-left: 20px;
  color: var(--text-2, #84829A);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.92px;
  letter-spacing: -0.08px;
}
.section7 .bottom7 .right .maine .span2 {
  margin-left: 10px;
  color: var(--text-2, #84829A);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.92px;
  letter-spacing: -0.08px;
}
.section7 .bottom7 .right .maine .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  justify-content: space-around;
}
.section7 .bottom7 .right .maine .bottom .imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.section7 .bottom7 .right .maine .bottom .imgs div {
  width: 36px;
  height: 36px;
  background-color: #F5F5F5;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  margin-left: 10px;
  margin-top: 10px;
}
.section7 .bottom7 .right .maine .bottom .imgs div img {
  width: 14px;
  height: 14px;
}
.section7 .bottom7 .right .maine .bottom .going {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
.section7 .bottom7 .right .maine .bottom .going .left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
.section7 .bottom7 .right .maine .bottom .going .left img {
  width: 16px;
  height: 16px;
  margin-right: 20px;
}
.section7 .bottom7 .right .maine .bottom .going .left p {
  color: var(--text-2, #84829A);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 124.5%; /* 19.92px */
  letter-spacing: -0.32px;
}
.section7 .bottom7 .right .maine .bottom .going .hart {
  width: 20px;
  height: 18.585px;
  margin-right: 10px;
}
.section7 .bottom7 .right .color {
  z-index: 1;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  opacity: 0.6;
  background: #59B1E6;
  filter: blur(75px);
  position: absolute;
  top: -20PX;
  left: 50PX;
}
.section7 .bottom7 .right .small {
  z-index: 30;
  border-radius: 18px;
  background: var(--white, #FFF);
  position: absolute;
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
  top: 210px;
  right: -92px;
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
}
.section7 .bottom7 .right .small img {
  width: 70px;
  height: 60px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
}
.section7 .bottom7 .right .small .smallright {
  width: 160px;
}
.section7 .bottom7 .right .small .smallright .titel {
  color: var(--text-2, #84829A);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17.43px;
  letter-spacing: -0.49px;
}
.section7 .bottom7 .right .small .smallright .content {
  color: var(--black, #080809);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.41px;
  letter-spacing: -0.27px;
}
.section7 .bottom7 .right .small .smallright .parcent {
  color: var(--black, #080809);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 124.5%;
  letter-spacing: -0.77px;
}
.section7 .bottom7 .right .small .smallright .parcent .num {
  color: var(--1, #8A79DF);
}
.section7 .bottom7 .right .small .smallright .parcent .parent {
  position: relative;
  width: 156px;
  height: 4px;
  background-color: #F5F5F5;
  border-radius: 20px;
  margin-top: 5px;
}
.section7 .bottom7 .right .small .smallright .parcent .parent .child {
  border-radius: 20px;
  width: 40%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8A79DF;
}

.section8 {
  position: relative;
  background-color: #ECF1F0;
  width: 100%;
  height: 700px;
  text-align: center;
  padding: 50px 0;
  box-sizing: border-box;
  margin-bottom: 100px;
}
.section8 h2 {
  position: relative;
  bottom: 20px;
  color: #000;
  margin-bottom: 30px;
  text-align: center;
  font-family: Open Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section8 .center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 430px;
}
.section8 .center .img1 {
  position: absolute;
  left: 0;
  top: 37px;
  width: 135px;
  height: 360px;
  flex-shrink: 0;
  border-radius: 0 20px 20px 0;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.section8 .center .img2 {
  width: calc(100% - 460px);
  height: 430px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.section8 .center .img3 {
  width: 135px;
  height: 360px;
  position: absolute;
  right: 0;
  top: 37px;
  flex-shrink: 0;
  border-radius: 20px 0 0 20px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.section8 .center .profile {
  width: 600px;
  height: 200px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%);
  background: #FFF;
  box-shadow: 0px 4px 59px 9px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
  padding-top: 70px;
  box-sizing: border-box;
}
.section8 .center .profile img {
  width: 140px;
  height: 140px;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translate(-50%);
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid #FFF;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat, #C4C4C4;
}
.section8 .center .profile p {
  width: 441px;
  height: 94px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.section8 .center .profile h3 {
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  bottom: 10px;
  left: 0;
}
.section8 .Vector {
  width: 20px;
  height: 14px;
  flex-shrink: 0;
  fill: var(--black, #080809);
  position: absolute;
  top: 40%;
  right: 180px;
}

.fotter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-items: center;
  padding-bottom: 150px;
  box-sizing: border-box;
}
.fotter button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.fotter img {
  width: 40px;
  height: 40px;
}
.fotter .topf {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  justify-content: space-around;
  align-items: center;
  width: 1170px;
  height: 407px;
  flex-shrink: 0;
  border-radius: 129px 20px 20px 20px;
  background: #9FFFEC;
}
.fotter .topf h2 {
  width: 70%;
  color: var(--TEXT-CLR, #5E6282);
  text-align: center;
  font-size: 31px;
  font-weight: 600;
  line-height: 54px;
}
.fotter .topf .email {
  height: 68px;
  flex-shrink: 0;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: var(--white, #FFF);
  z-index: 1;
}
.fotter .topf .email img {
  width: 21px;
  height: 18px;
  flex-shrink: 0;
  position: absolute;
  top: 25px;
  left: 70px;
  transform: translate(-50% 0);
  z-index: 2;
}
.fotter .topf .email input {
  width: 421px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  margin-right: 12px;
  color: var(--TEXT-COLOR, #39425D);
  font-size: 16px;
  padding-left: 50px;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0.7;
  border: none;
}
.fotter .topf .email input::-webkit-input-placeholder {
  color: cornflowerblue;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-left: 50px;
  box-sizing: border-box;
  color: var(--TEXT-COLOR, #39425D);
  font-family: Montserrat;
  font-size: 14px;
}
.fotter .topf .email input:-moz-placeholder {
  color: cornflowerblue;
  opacity: 1;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-left: 50px;
  box-sizing: border-box;
  color: var(--TEXT-COLOR, #39425D);
  font-family: Montserrat;
  font-size: 14px;
}
.fotter .topf .email input::-moz-placeholder {
  color: cornflowerblue;
  opacity: 1;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-left: 50px;
  box-sizing: border-box;
  color: var(--TEXT-COLOR, #39425D);
  font-family: Montserrat;
  font-size: 14px;
}
.fotter .topf .email input:-ms-input-placeholder {
  color: cornflowerblue;
  opacity: 1;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-left: 50px;
  box-sizing: border-box;
  color: var(--TEXT-COLOR, #39425D);
  font-family: Montserrat;
  font-size: 14px;
}
.fotter .topf .email input:focus {
  z-index: 3;
  opacity: 1;
}
.fotter .topf .email input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fotter .topf .email input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fotter .topf .email input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fotter .topf .email input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fotter .topf .email input:focus ~ .em {
  z-index: 0;
}
.fotter .topf .email input:invalid ~ .em {
  opacity: 0;
}
.fotter .topf .email button {
  width: 180px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #00A651;
  margin-left: 12px;
  color: var(--white, #FFF);
  text-align: center;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.fotter .topf .whatsapp {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.fotter .bottomf {
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
}
.fotter .bottomf .left {
  width: 200.972px;
  height: 77px;
  flex-shrink: 0;
}
.fotter .bottomf .left h4 {
  color: #000;
  text-align: start;
  font-size: 24px;
  font-weight: 700;
  line-height: 24.6px;
}
.fotter .bottomf .left h3 {
  color: #000;
  text-align: start;
  font-size: 32px;
  font-weight: 700;
  line-height: 24.6px;
  margin-bottom: 15px;
}
.fotter .bottomf .left p {
  width: 200.972px;
  height: 67.472px;
  flex-shrink: 0;
  color: var(--TEXT-CLR, #5E6282);
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.185px;
}
.fotter .bottomf .center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
.fotter .bottomf .center h3 {
  color: var(--black, #080809);
  font-size: 20px;
  font-weight: 700;
  line-height: 124.5%; /* 26.145px */
  margin-bottom: 55px;
}
.fotter .bottomf .center p {
  color: var(--TEXT-CLR, #5E6282);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.41px;
  margin-bottom: 25px;
}
.fotter .bottomf .right {
  width: 300px;
  height: 200px;
}
.fotter .bottomf .right .social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
.fotter .bottomf .right .social div {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: relative;
}
.fotter .bottomf .right .social div img {
  width: 60px;
  height: 60px;
}
.fotter .bottomf .right .social div:nth-child(2) {
  background-repeat: no-repeat;
  margin: 0 30px;
  background-image: url(../media/fotter/Background.jpg);
  background-position: center;
}
.fotter .bottomf .right .social div:nth-child(2) img {
  width: 22px;
  height: 22px;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
}
.fotter .bottomf .right .discover {
  margin: 27px 0 20px 0;
}
.fotter .bottomf .right .discover p {
  width: 243.18px;
  height: 35.142px;
  flex-shrink: 0;
  color: var(--TEXT-CLR, #5E6282);
  font-size: 18px;
  font-weight: 400;
  line-height: 24.9px;
  letter-spacing: 0.1px;
}
.fotter .bottomf .right .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.fotter .bottomf .right .buttons button {
  width: 150.406px;
  height: 49.198px;
  flex-shrink: 0;
  border-radius: 17.5px;
  background: black;
  color: #FFF;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
.fotter .bottomf .right .buttons button img {
  max-width: 28px;
  min-width: 28px;
  max-height: 28px;
  min-height: 28px;
  flex-shrink: 0;
}
.fotter .bottomf .right .buttons button:nth-child(2) {
  width: 140px;
  height: 49px;
  flex-shrink: 0;
  margin-left: 10px;
}
.fotter .bottomf .right .buttons button div {
  flex-shrink: 0;
  text-align: start;
}
.fotter .bottomf .right .buttons button div p {
  flex-shrink: 0;
  font-family: Open Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 16.185px;
}/*# sourceMappingURL=main.css.map */