body {
  overflow-X: hidden;
}

* {
  border: 0;
  margin: 0;
}

.header {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-image: url(../media/header/header.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.header .nav {
  z-index: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  background-color: rgba(10, 0, 0, 0.372);
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  left: 0;
}
.header .nav .left {
  position: sticky;
  top: 0;
  left: 120px;
  color: white;
}
.header .nav .left .goo {
  font-size: 24px;
}
.header .nav .center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header .nav .center P:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header .nav .center .apout {
  margin-left: 45px;
}
.header .nav .center .package {
  margin-left: 45px;
}
.header .nav .right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  right: 120px;
  width: 112px;
  height: 48px;
}
.header .nav .right .favorite {
  width: 36px;
  height: 36px;
}
.header .nav .right .profile {
  width: 48px;
  height: 48px;
}
.header .bottom {
  text-align: center;
}
.header .bottom h1 {
  max-width: 700px;
  color: #fff;
  font-size: 75px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 40px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.header .bottom p {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 500px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .bottom button {
  border-radius: 10px;
  background: #00A651;
  width: 214px;
  height: 60px;
  margin-top: 38px;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.2);
}

.section2 {
  height: 180px;
  color: #000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-weight: 700;
  line-height: 180px;
  box-shadow: 0px -30px 52px 30px rgba(253, 250, 250, 0.845);
}

.section3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 80px 130px;
}
.section3 .card {
  min-width: 230px;
  max-width: 230px;
  height: 155px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px 40px 0px 40px;
}
.section3 .card:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: #F9F9F9;
}
.section3 .card img {
  margin: 10px 0 10px 0;
}
.section3 .card p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.section3 .ticket img {
  width: 46px;
  height: 27.259px;
}
.section3 .hotel img {
  width: 42px;
  height: 42px;
}
.section3 .plane img {
  width: 38px;
  height: 38px;
}

.section4 {
  height: 580px;
  background: rgba(0, 88, 83, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-items: center;
  padding: 30px 0;
}
.section4 h2 {
  width: 450px;
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
.section4 p {
  width: 450px;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  bottom: 50px;
}
.section4 .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
}
.section4 .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-items: center;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  border-radius: 15px;
  background: #FFF;
  margin: 10px;
  position: relative;
}
.section4 .cards .card:hover {
  background: #F9F9F9;
}
.section4 .cards .card img {
  position: relative;
  top: 10px;
}
.section4 .cards .card h3 {
  position: relative;
  top: 10px;
}
.section4 .cards .card p {
  position: relative;
  top: -5px;
}

.section5 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.section5 h2 {
  text-align: center;
  width: 100%;
  margin: 65px 0;
  font-size: 40px;
  font-weight: 700;
}
.section5 .bottom5 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.section5 .bottom5 .left img {
  width: 600px;
  height: 600px;
}
.section5 .bottom5 .right {
  width: 500px;
  height: 600px;
  position: relative;
  right: 130px;
}
.section5 .bottom5 .right .card5 {
  width: 500px;
  max-width: 500px;
  min-width: 500px;
  height: 170px;
  max-height: 170px;
  min-height: 170px;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.08);
}
.section5 .bottom5 .right .card5 .contry {
  border-radius: 15px 0px 0px 15px;
  width: 170px;
  height: 170px;
}
.section5 .bottom5 .right .card5 p {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.section5 .bottom5 .right .card5 .spots {
  width: 85px;
  position: relative;
  right: 25px;
}
.section5 .bottom5 .right .card5 .navigate {
  width: 25px;
  height: 25px;
  position: relative;
  right: 25px;
}
.section5 .bottom5 .right .card5 .navigate:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.section6 {
  background: #ECF1F0;
}
.section6 .title {
  color: #000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  padding: 50px 0 50px 0;
  box-sizing: border-box;
}
.section6 .Packages {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.section6 .Packages button {
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #666;
  margin: 0 25px 50px 25px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section6 .Packages button:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: #00A651;
}
.section6 .cards {
  width: 100%;
  padding: 80px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
}
.section6 .cards .card {
  margin: 10px;
  width: 400px;
  height: 470px;
  border-radius: 15px;
  background: #FFF;
}
.section6 .cards .card .contry {
  width: 100%;
  height: 300px;
}
.section6 .cards .card .bottom {
  width: 400px;
  max-width: 400px;
  height: 170px;
  border-radius: 0px 0px 15px 15px;
  background: #fff;
  position: relative;
}
.section6 .cards .card .bottom .number {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 10px;
}
.section6 .cards .card .bottom .detals {
  width: 270px;
  color: rgba(0, 0, 0, 0.81);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
}
.section6 .cards .card .bottom .location {
  width: 100%;
  position: absolute;
  bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.section6 .cards .card .bottom .location p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
.section6 .cards .card .bottom .location .img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.section6 .cards .card .bottom .location .img img {
  width: 18px;
  height: 18px;
}
.section6 .cards .card .bottom .location .img p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section6 .button {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  box-sizing: border-box;
}
.section6 .button button {
  width: 300px;
  height: 70px;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  border-radius: 10px;
  background: #00A651;
  flex-shrink: 0;
}
.section6 .button button:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #666;
}

.section7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.section7 .top7 {
  width: 100%;
  padding: 40px 0 5 0px 0;
  box-sizing: border-box;
  line-height: normal;
  text-align: center;
}
.section7 .top7 h2 {
  color: #000;
  font-size: 38px;
}
.section7 .top7 p {
  color: #000;
  font-size: 22px;
}
.section7 .bottom7 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.section7 .bottom7 .left {
  width: 450px;
}
.section7 .bottom7 .left .card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 50px 0;
}
.section7 .bottom7 .left .card img {
  width: 60px;
  height: 60px;
  margin-right: 25px;
}
.section7 .bottom7 .left .card p {
  color: var(--TEXT-CLR, #5E6282);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.section7 .bottom7 .left .card span {
  width: 10px;
  color: var(--TEXT-CLR, #5E6282);
  font-size: 14px;
  font-weight: 300;
}
.section7 .bottom7 .right {
  position: relative;
  width: 340px;
  height: 370px;
  border-radius: 26px;
  background: var(--white, #FFF);
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.section7 .bottom7 .right .maine {
  background: var(--white, #FFF);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 340px;
  height: 370px;
}
.section7 .bottom7 .right .maine .greecimg {
  width: 300px;
  height: 160px;
  border-radius: 24px;
  margin: 20px 20px;
}
.section7 .bottom7 .right .maine .greec {
  color: var(--black, #080809);
  margin-left: 20px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 124.5%; /* 22.41px */
  letter-spacing: 0.27px;
}
.section7 .bottom7 .right .color {
  z-index: 1;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  opacity: 0.6;
  background: #59B1E6;
  filter: blur(75px);
  position: absolute;
  top: -20PX;
  left: 50PX;
}/*# sourceMappingURL=main.css.map */