.fotter{
    button{
        @include hoverButton;
    }
    width: 100%;
    @include flexColumnCenter;
    align-items: center;
    padding-bottom: 150px;
    box-sizing: border-box;
    img{
        width: 40px;
        height: 40px;
    }
    .topf{
        position: relative;
        @include flexColumnCenter;
        justify-content: space-around;
        align-items: center;
        width: 1170px;
        height: 407px;
        flex-shrink: 0;
        border-radius:  129px  20px 20px 20px;
        background: #9FFFEC;
        h2{
            width: 70%;
            color: var(--TEXT-CLR, #5E6282);
            text-align: center;
            font-size: 31px;
            font-weight: 600;
            line-height: 54px; 
        }
        .email{
            // width: 100%;
            height: 68px;
            flex-shrink: 0;
            border-radius: 10px;
            text-align: center;
            @include flexCenterRwo;
            position: relative;
            background: var(--white, #FFF);
            z-index: 1;
            img{
                width: 21px;
                height: 18px;
                flex-shrink: 0;
                position: absolute;
                top: 25px;
                left: 70px;
                transform: translate( -50% 0);
                z-index: 2;
            }
            input{
                width: 421px;
                height: 60px;
                flex-shrink: 0;
                border-radius: 10px;
                margin-right: 12px;
                color: var(--TEXT-COLOR, #39425D);
                font-size: 16px;
                padding-left: 50px;
                box-sizing: border-box;
                position: relative;
                top: 0;
                left: 0;
                z-index: 3;
                opacity: .7;
                @include placeholder {
                    color: cornflowerblue;
                    opacity: 1;
                    transition: all .3s ease;
                    padding-left: 50px;
                    box-sizing: border-box;
                    color: var(--TEXT-COLOR, #39425D);
                    font-family: Montserrat;
                    font-size: 14px;
                }
                
                border: none;
                &:focus {
                    @include placeholder {
                    opacity: 0;
                    transition: all .3s ease;
                    }
                   z-index: 3;
                   opacity: 1;
                }
                &:focus ~ .em{
                    z-index: 0;
                }
                &:invalid ~ .em {
                    opacity: 0;
                }
                  
            }
            
            button{
                width: 180px;
                height: 60px;
                flex-shrink: 0;
                border-radius: 10px;
                background: #00A651;
                margin-left: 12px;
                color: var(--white, #FFF);
                text-align: center;
                font-family: Open Sans;
                font-size: 17px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
        .whatsapp{
            width: 50px;
            height: 50px;
            position: absolute;
            top:  -20px;
            right: -20px;
            @include hoverButton;

        }
    }
    .bottomf{
        width: 100%;
        margin-top: 70px;
        @include flexCenterRwo;
        justify-content: space-around;
        align-items: flex-start;
        .left{
            width: 200.972px;
            height: 77px;
            flex-shrink: 0;
            h4{
                color: #000;
                text-align: start;
                font-size: 24px;
                font-weight: 700;
                line-height:  24.6px ;
            }
            h3{
                color: #000;
                text-align: start;
                font-size: 32px;
                font-weight: 700;   
                line-height:  24.6px ;
                margin-bottom: 15px
            }
            p{
                width: 200.972px;
                height: 67.472px;
                flex-shrink: 0;
                color: var(--TEXT-CLR, #5E6282);
                font-family: Open Sans;
                font-size: 13px;
                font-style: normal;
                font-weight: 600;
                line-height:  16.185px ;
            }
        }
        
        .center{
            @include flexCenterRwo;
            width: 500px;
            h3{
                color: var(--black, #080809);
                font-size: 20px;
                font-weight: 700;
                line-height: 124.5%; /* 26.145px */
                margin-bottom: 55px;
            }
            p{
                color: var(--TEXT-CLR, #5E6282);
                font-size: 16px;
                font-weight: 400;
                line-height:22.41px ;
                margin-bottom: 25px;
            }
        }
        .right{
            width: 300px;
            height: 200px;
            .social{
                @include flexCenterRwo;
                justify-content: flex-start;
                div{
                    @include hoverButton;
                    border-radius: 50%;
                    text-align: center;
                    align-items: center;
                    width: 60px;
                    height: 60px;
                    position: relative;
                    img{
                        width: 60px;
                        height: 60px;
                    }
                    &:nth-child(2){
                        background-repeat: no-repeat;
                        margin:0 30px;
                        background-image: url(../media/fotter/Background.jpg);
                        background-position: center;
                        img{
                            width: 22px;
                            height: 22px;
                            position: relative;
                            top: 50%;
                            transform: translatey(-50%);
                        }
                    }
                }
            }
            .discover{
                margin: 27px 0 20px 0;
                p{
                    width: 243.18px;
                    height: 35.142px;
                    flex-shrink: 0;
                    color: var(--TEXT-CLR, #5E6282);
                    font-size: 18px;
                    font-weight: 400;
                    line-height:  24.9px ;
                    letter-spacing: 0.1px;
                }
            }
            .buttons{
                @include flexCenterRwo;
                // padding: 0 10px ;
                // box-sizing: border-box;
                button{
                    width: 150.406px;
                    height: 49.198px;
                    flex-shrink: 0;
                    border-radius: 17.5px;
                    background: black;
                    color: #FFF;
                    @include flexCenterRwo;
                    justify-content: flex-start;
                    img{
                        max-width: 28px;
                        min-width: 28px;
                        max-height: 28px;
                        min-height: 28px;
                        flex-shrink: 0;
                    }
                    &:nth-child(2){
                        width: 140px;
                        height: 49px;
                        flex-shrink: 0;
                        margin-left: 10px;
                    }
                    div{
                        flex-shrink: 0;
                        text-align: start;
                        p{
                            flex-shrink: 0;
                            font-family: Open Sans;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 300;
                            line-height:  16.185px ;
                        }
                    }
                }
            }

        }
    }
}